<a href="https://colab.research.google.com/github/renan-cav/IDHM-Brasil-2010/blob/main/Raspagem_IDHM_2010.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Raspagem de tabela do site do Programa das Nações Unidas para o Desenvolvimento

Site: https://www.br.undp.org/content/brazil/pt/home/idh0/rankings/idhm-municipios-2010.html

Código Fonte: https://www.br.undp.org/content/brazil/pt/home/idh0/rankings/idhm-municipios-2010.html

In [ ]:
!pip install quickda # Instala a biblioteca quickda que serve para análise de dados

In [253]:
import csv # Importa as bibliotecas necessárias
import pandas as pd
import quickda

from quickda.clean_data import * # Limpa o dataframe
from quickda.explore_data import *

In [270]:
url = "https://www.br.undp.org/content/brazil/pt/home/idh0/rankings/idhm-municipios-2010.html"
html = pd.read_html(url) # Puxa a tabela direto da URL Definida

In [271]:
df = html[0] # Extrai a tabela do HTML

In [272]:
df.head()

  Ranking IDHM 2010  ... IDHM Educação 2010
0               1 º  ...                811
1               2 º  ...                825
2               3 º  ...                800
3               4 º  ...                789
4               4 º  ...                805

[5 rows x 6 columns]

In [273]:
df[["municipio","estado"]] = df["Município"].str.split("(", expand=True) # Divide a coluna munícipio e criar a coluna estado
df["estado"] = df["estado"].str.replace(")","") # Tira o parêntese que estava sobrando
df = df.rename(columns={"Ranking IDHM 2010": "Ranking", "IDHM Renda 2010": "IDHM Renda", "IDHM Longevidade 2010": "IDHM Longev", "IDHM Educação 2010" : "IDHM Edu"}) # Renomeia as colunas
df = df.drop("Município", 1) # Retira a coluna "Município". O 1 no fim do código significa que uma coluna deve ser retirada.

In [274]:
df.head()

  Ranking  IDHM 2010 IDHM Renda  ... IDHM Edu            municipio estado
0     1 º        862       0891  ...      811  São Caetano do Sul      SP
1     2 º        854       0849  ...      825  Águas de São Pedro      SP
2     3 º        847       0870  ...      800       Florianópolis      SC
3     4 º        845       0854  ...      789  Balneário Camboriú      SC
4     4 º        845       0876  ...      805             Vitória      ES

[5 rows x 7 columns]

In [275]:
df["Ranking"] = df["Ranking"].str.replace("º", "").str.replace("td>", "") # Faz mudanças nas células. Retira o "º" do ranking e "td>" que era um erro na criação do HTML.
df["IDHM Renda"] = df["IDHM Renda"].str.replace("td>", "").str.replace(",","")
df["IDHM Longev"] = df["IDHM Longev"].str.replace("td>", "").str.replace(",","")

In [276]:
df.head()

  Ranking  IDHM 2010 IDHM Renda  ... IDHM Edu            municipio estado
0      1         862       0891  ...      811  São Caetano do Sul      SP
1      2         854       0849  ...      825  Águas de São Pedro      SP
2      3         847       0870  ...      800       Florianópolis      SC
3      4         845       0854  ...      789  Balneário Camboriú      SC
4      4         845       0876  ...      805             Vitória      ES

[5 rows x 7 columns]

In [277]:
df = df.convert_dtypes(infer_objects=True)

In [278]:
df[["Ranking", "IDHM Renda", "IDHM Longev"]] = df[["Ranking", "IDHM Renda", "IDHM Longev"]].astype(int)

In [279]:
df.head()

   Ranking  IDHM 2010  IDHM Renda  ...  IDHM Edu            municipio estado
0        1        862         891  ...       811  São Caetano do Sul      SP
1        2        854         849  ...       825  Águas de São Pedro      SP
2        3        847         870  ...       800       Florianópolis      SC
3        4        845         854  ...       789  Balneário Camboriú      SC
4        4        845         876  ...       805             Vitória      ES

[5 rows x 7 columns]

In [280]:
df = df[["Ranking", "municipio", "estado", "IDHM 2010","IDHM Renda", "IDHM Longev", "IDHM Edu"]] # Reordena as colunas

In [281]:
df = clean(df, method='standardize') # Padroniza o cabeçalho da base de dados (QuickDA)

In [283]:
df.head()

   ranking            municipio estado  ...  idhm_renda  idhm_longev  idhm_edu
0        1  São Caetano do Sul      SP  ...         891          887       811
1        2  Águas de São Pedro      SP  ...         849          890       825
2        3       Florianópolis      SC  ...         870          873       800
3        4  Balneário Camboriú      SC  ...         854          894       789
4        4             Vitória      ES  ...         876          855       805

[5 rows x 7 columns]

In [282]:
explore(df, method='summarize')

             dtypes  count  null_sum  ...  median      std        skew
estado       string   5565         0  ...       -        -           -
idhm_2010     Int64   5565         0  ...     665  71.9973   -0.155605
idhm_edu      Int64   5565         0  ...     560  93.3277  -0.0984634
idhm_longev   int64   5565         0  ...     808  44.6809   -0.409358
idhm_renda    int64   5565         0  ...     654  80.6617   -0.101024
municipio    string   5565         0  ...       -        -           -
ranking       int64   5565         0  ...    2776  1607.38  0.00369577

[7 rows x 14 columns]

In [35]:
df.to_csv("IDHM_2010_BR.csv")